

.App {
  text-align: center;
  background-color: rgb(148, 142, 142);
  margin:auto;
  height: 100vh;
}
/* form{
 
} */

.forms{
  display: flex;
  flex-direction: column;
  background-color: rgb(206, 203, 203);
  width:60%;
  margin: auto;
  border-radius:10px;
  border:solid white;
  
}

a{
  color: white;
  text-decoration: none;
}

img{
  width:350px;
  height: 300px;
}
header{
  
  display: inline-block;
  width: 100%;
  height: 150px;
  background-color: rgb(169, 164, 164);
}
#all-tweets{
  background-color: rgb(198, 199, 203);
 
}
.main{
  min-height:1500px;
  background-color: rgb(111, 110, 110);

}
.tweet{
  color: white;
  background-color: rgb(69, 67, 67);
  width: 50%;
  padding: 2%;
  margin: auto;
  border-left: solid 2px black;
  border-right: solid 2px black;
  height: 400px;
}


footer{
  
  width:100%;
  background-color: rgb(138, 4, 4);
  height: 4rem;
  bottom:0;
}



