
.App {
  text-align: center;
  background-color: #242F5F;
 
  margin:auto;
  height: 100vh;
}

.main{
  min-height:400vh;
  background-color: #242F5F; 
}

.forms{
  color:white;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #242F5F;
  width:60%;
  height:400px;
  margin: auto;
  border-radius:10px;
  /* border:solid white; */
  margin-top:5%;


-webkit-box-shadow: 6px 9px 16px 2px rgba(36,47,95,0.58);
-moz-box-shadow: 6px 9px 16px 2px rgba(36,47,95,0.58);
box-shadow: 6px 9px 16px 2px rgba(25, 32, 65, 0.58);
}
hr{
  width:50%;

}
#edit-tweet-form {
  display: flex;
  flex-direction: column;
  width:70%;
  height:300px;
  margin: auto;
  border-radius:10px;
  margin-top:5%;

-webkit-box-shadow: 6px 9px 16px 2px rgba(36,47,95,0.58);
-moz-box-shadow: 6px 9px 16px 2px rgba(36,47,95,0.58);
box-shadow: 6px 9px 16px 2px rgba(25, 32, 65, 0.58);
}

p{
  background-color: #1F2849;
  padding:2%;


-webkit-box-shadow: 0px 16px 6px -12px rgba(36,47,95,0.56);
-moz-box-shadow: 0px 16px 6px -12px rgba(36,47,95,0.56);
box-shadow: 0px 16px 6px -12px rgba(36,47,95,0.56);
}
a{
  color: white;
  text-align:left;
  text-decoration: none;
}
h1{
  margin-left:10%;
  font-size:2em;
  text-align:left;
}
h3{
  text-align: center;
 
}

button{
  margin:3%;
  border-radius:5px;
  color:white;
  background-color:#1F2849;
  font-size:1em;
  width:6em;
}
button:hover{
  background-color:#A7B8FE;
}

#logout-button{
margin-top:-10%;
margin-bottom:5%;
margin-right:65%;
}

 ::placeholder{
   text-align:center;
  color:#242F5F;
}

input{
  width:18rem;
  height:2rem;
  margin:3%;
  margin-top:5%;
  font-size:1em;
  border-radius: 10px;
  background-color:#A7B8FE;
}

/* #bork-buttons{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
} */

header{
  display: inline-block;
  width: 100%;
  height: 150px;
  background-color: #242F5F; 
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#all-tweets{
  background-color:#1F2849;
}

img{
  width:350px;
  height:300px;
}
.tweet{
  text-align: left;
  color: white;
  background-color:#1F2849;
  width: 65%;
  padding: 2%;
  margin: auto;
  height: 400px;


-webkit-box-shadow: 6px 9px 16px 2px rgba(36,47,95,0.58);
-moz-box-shadow: 6px 9px 16px 2px rgba(36,47,95,0.58);
box-shadow: 6px 9px 16px 2px rgba(25, 32, 65, 0.58);

}


footer{
  width:100%;
  background-color:#1F2849;
  height: 4rem;
  bottom:0;
}



/* media queries */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .main{
      min-height:100vh;
      background-color: #242F5F; 
    }
    .forms{
      width:80%;
    }
   

    .tweet{
      text-align: left;
      color: white;
      background-color: #1F2849;
      width: 75%;
      padding: 5%;
      margin: auto;
      border-left: solid 1px rgb(255, 255, 255);
      border-right: solid 1px rgb(255, 255, 255);
      height: 100%;
  }

  img{
    width:100%;
  }

  input{
    width:14rem;
    height:2rem;
    margin:3%;
    font-size:1em;
    border-radius: 10px;
    background-color:#A7B8FE;
  }


}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .main{
      min-height:100vh;
      background-color: #242F5F; 
    }
    .forms{
      width:80%;
    }
   

    .tweet{
      text-align: left;
      color: white;
      background-color: #1F2849;
      width: 75%;
      padding: 5%;
      margin: auto;
      border-left: solid 1px rgb(255, 255, 255);
      border-right: solid 1px rgb(255, 255, 255);
      height: 100%;
  }

  img{
    width:100%;
  }

  input{
    width:14rem;
    height:2rem;
    margin:3%;
    font-size:1em;
    border-radius: 10px;
    background-color:#A7B8FE;
  }

}
