
.App {
  text-align: center;
  background-color: #242F5F;
 
  margin:auto;
  height: 100vh;
}

.main{
  min-height:400vh;
  background-color: #242F5F; 
}

.forms{
  color:white;
  display: flex;
  flex-direction: column;
  background-color: #242F5F;
  width:60%;
  height:400px;
  margin: auto;
  border-radius:10px;
  /* border:solid white; */
  margin-top:5%;
}

#edit-tweet-form {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width:60%;
  height:300px;
  margin: auto;
  border-radius:10px;
  border:solid white;
  margin-top:5%;
}

a{
  color: white;
  text-align:left;
  text-decoration: none;
}
h1{
  margin-left:10%;
  font-size:2em;
  text-align:left;
}
h3{
  text-align: center;
 
}

button{
  margin:3%;
  border-radius:5px;
  color:white;
  background-color:#1F2849;
  font-size:1em;
  width:6em;
}
button:hover{
  background-color:#A7B8FE;
}

#logout-button{
margin-top:-10%;
margin-bottom:5%;
margin-right:65%;
}

 ::placeholder{
   text-align:center;
  color:#242F5F;
}

input{
  width:18rem;
  height:2rem;
  margin:3%;
  font-size:1em;
  border-radius: 10px;
  background-color:#A7B8FE;
}

/* #bork-buttons{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
} */

header{
  display: inline-block;
  width: 100%;
  height: 150px;
  background-color: #A7B8FE; 
  
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#all-tweets{
  background-color:#1F2849;
}

img{
  width:350px;
  height:300px;
}
.tweet{
  text-align: left;
  color: white;
  background-color:#1F2849;
  width: 65%;
  padding: 2%;
  margin: auto;
  border-left: solid 1px rgb(255, 255, 255);
  border-right: solid 1px rgb(255, 255, 255);
  height: 400px;
}


footer{
  
  width:100%;
  background-color: rgb(138, 4, 4);
  height: 4rem;
  bottom:0;
}



